* {
    font-family: '맑은 고딕';
}
header, footer {
    text-align: center;
    background-color: #8bd5cb;
    padding: 5px 0 5px 0;

    clear: both;
}
header {
    height: 200px;
}
header div {
    float: left;
}
.hImgBlock {
    
    border-radius: 100%;
    margin: 10px;
    overflow: hidden;
}
.hTitleblock p {
    margin-top: 80px;
}

nav {
    text-align: center;
    font-weight: 600;

    background-color: #edfffa;
    padding: 10px 0 10px;

    clear: both;
}
nav a {
    margin: 0 10px 0 10px;
}
a {
    text-decoration: none;
    color: #000;
    padding: 5px;
}
a:hover {
    background-color: #000;
    color: #fff;
}

img {
    width: 150px;
}
section {
    /* float: left; */
    width: 90%;
    height: 220px;

    border-bottom: 1px dotted #000;

    margin: 0 auto;
    margin-top: 10px;
}

section h1 {
    border-style: solid;
    border-width: 0px 0 0 8px;
    padding-left: 10px;
    margin: 5px;
    
    transition: .5s;
}
section h1:hover {
    padding-left: 50px;
    transition: .5s;
}


.right {
    font-weight: 600;
    position: absolute;
    right: 20px;
    margin: 5px;
}
.top {
    position: absolute;
    top: 225px;
    margin: 5px;
}
.left { float: left;}

.block0 h1 {
    border-color: tomato;
}
#d1 ol {
    padding-left: 20px;
    /* display: none; */
}
#d1 li {
    display: block;
    line-height: 30px;
}
#d1 li span {
    position: relative;
    top: 6px;
}
.block1 h1 {
    border-color: pink;
}
.block2 h1 {
    border-color: blue;
}
.block3 h1 {
    border-color: green;
}

#d4 p {
    font-size: 20px;
    text-align: justify;
    text-indent: .5em;
    color: green;

    margin: 0;
    padding: 0 5px 10px 5px;
}


/***************************/
/********* 설문조사 *********/
/***************************/

#survey {
    padding: 10px;
    margin: 0 auto;
    width: 800px;
    height: auto;
    
    float: none;
}
#survey form {
    border: 1px solid #000;
    padding: 10px 20px 30px 20px;
    border-radius: 20px;
}

.formBox1 h2{
    font-size: 1.5em;
    line-height: 0.9em;
    text-align: center;
}

fieldset {
    margin-bottom: 20px;
    border-radius: 10px;
}

#survey ul {
    list-style: none;
    padding: 0;
}
#survey li {
    margin: 20px;
} 
#survey li label {
    width: 15%;
    line-height: 40px;
    float: left;

    /* font-size: 1em; */
}
#survey li input {
    height: 40px;
    width: 85%;
    box-sizing: border-box;
}
.btn_box {
    text-align: center;
}
.btn {
    margin: 0 30px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;

    width: 300px;
    height: 40px;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}
.bg_green:hover {
    background-color: #19ce60;
}
.bg_red:hover {
    background-color: red;
}

/***************************/
/*********  Table  *********/
/***************************/

table{
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 75%;
}
table th, td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}
tbody th {
    width: 90px;
    box-sizing: border-box;
    background-color: #e2e2e2;
}
tbody td {
    width: 16%;
}